// @import "../fonts/a_FuturaOrtoSh-Bold.svg";

$fullHeight: 90vh;

body {
  background: #f7f3f0;
  overflow-x: hidden;
  cursor: none;
}
.wrapper {
  max-width: 1400px;
  padding: 0 10%;
  margin: 0 auto;
}
// INTRO
header {
  display: flex;
  align-items: center;
  height: 10vh;
}
.intro {
  display: flex;
  flex-wrap: wrap;
  height: $fullHeight;
}

.works {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}
